{
  "parser": "babel-eslint",
  "extends": ["airbnb/base", "plugin:react/recommended"],
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "new-cap": "off"
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.0"
    },
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.babel.js"
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "describe": true,
    "it": true
  }
}
